{% extends 'user/Navbar.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    {% block signup-login %} {% if not isAuth %}
    <div id="signup-login" class="Nav-items">
      <a href="/signup/">Signup</a>
      <a href="/login/">Login</a>
    </div>
    {% endif %} {% endblock %} {% block logout %} {% if isAuth %}
    <div id="Logout" class="Nav-items">
      <a href="/profile/">{{user}}</a>
      <a href="/auth/logout/?next=/">Logout</a>
    </div>
    {% endif %} {% endblock %} {% block todo-display %} {% for x in data %}
    {% with pk=x.pk page=page %}
    <div class="display-card" style="position: relative">
      <div class="icons">
        <a href="update-todo/{{pk}}" name="{{pk}}"  class="fa-solid fa-pen-to-square"></a>
        <a href="http://localhost:8000/api/v1/delete-todo/{{pk}}/" name="{{pk}}" class="fa-solid fa-trash"></a>
      </div>
      <div id="title">{{ x.title }}</div>
      <div  id="description">{{ x.description }}</div>
      <div class="Date">
        <span id="start_date"> {{ x.start_date }} </span>
        <span id="end_date"> {{ x.end_date }} </span>
      </div>
      <button id="save">Save</button>
    </div>
    {% endwith %}
    {% endfor %} {% if isAuth %}
    <div class="Add-Todo-Button">
      <a href="/add-todo/">Add Todo</a>
    </div>
    <div>
      {% if previous >= 0 %}
      <a href="/{{previous}}">previous</a>
      {% endif %}
      {% if next %}
      <a href="/{{next}}">next</a>
      {% endif %}
    </div>
    {% endif %} {% endblock %}
  </body>
</html>
