<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 100vw; height: 100vh ;display: flex; justify-content: center; align-items: center; flex-direction: column;">

    <form action="/create_user/" method="POST">
        {% csrf_token %}
        <h2>SIGN UP</h2> 
        <input type="text" required="true" name="username" placeholder="username" /></br></br>
        <input type="text" required="true" name="password" placeholder="password" /></br></br>  
        <button onsubmit="">Sign up</button>
    </form></br>
    <span>or having a account?<a href="/login/"> login </a></span>
</body>
</html> 